body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
  margin: 0;
}

.navbar-brand {
  font-size: 30px;
  
}

.module {
  width: 400px;
  height: 185px;
  overflow: hidden;
}

.home-page {
  display: grid,
  row
}

#card-description {
  height: 100px;
  overflow: hidden
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}


.avatar-photo-small {
  border-radius: 50%;
  height: 40px;
  padding: 5px;
}

.feather-book-open:hover {
  animation: tada;
  animation-duration: 1s
}
