body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
  margin: 0;
}

.navbar-brand {
  font-size: 30px;
  
}

.navbar {
  justify-content: end
}

.avatar-photo-small {
  border-radius: 50%;
  height: 40px;
  padding: 5px;
}

.feather-book-open:hover {
  animation: tada;
  animation-duration: 1s
}
