body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
  margin: 0;
}

nav {
  background-color: white;
}

.avatar-photo-small {
  border-radius: 50%;
  height: 40px;
  padding: 5px;
}
